apiVersion: v1
kind: Service
metadata:
  name: student-app
  namespace: student-management
spec:
  type: NodePort
  selector:
    app: student-app
  ports:
    - port: 8089
      targetPort: 8089
      nodePort: 30089
